
{{> head }}

{{> navbar }}

<div class="row">
   <div class="col-8">
       <header><h1>Teoria musical</h1></header>
  
      <section>
          <article>
              <header>Solfeo</header>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing 
                  elit. Molestias provident, est fugiat iure labore
                   laborum itaque, repellendus sequi perferendis
                    officiis vitae quae repudiandae eaque maxime 
                    id voluptates placeat alias quam?
              </p>  
          </article>
      </section>
   </div>

   <div class="col-4">
       <img src="asset/img/01-solfeo.jpg" class="img-thumbnail">
   </div>
</div>

{{> footer }}